/* Removing margins from body */
body {
    margin: 0;
}

.main {
    /* setting the background colour */
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    background: #212121;
    background-image: url("../assets/waves.svg");
    background-repeat: repeat-x;
    background-position: center bottom;
}

.login_page {
    /* Login Page */
    width: 100%;
    height: 100%;
    display: block;
    z-index: 10;
}

.login_box {
    /* Login_Box */
    display: flex;
    position: relative;
    width: 62.5%;
    height: 46.2%;
    left: 18.75%;
    top: 26.85%;

    /* Info_Box's */
    background: #3F3F3F;
    mix-blend-mode: normal;
    border-radius: 30px;
    align-content: center;
    box-shadow: 5px 5px 15px 5px #212121b6;
}

.login_box img {
    position: relative;
    margin: 40px;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #fff;
    margin-left: 40px;
    margin-right: 40px;
}

.email {
    position: relative;
    background-color: #959595;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px #212121b6;
}

.email input {
    outline: none;
    border: none;
    background-color: #959595;
    font-size: 20px;
    color: #fff;
}

.pass {
    position: relative;
    width: 100%;
    background-color: #959595;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px #212121b6;
}

.pass input {
    outline: none;
    border: none;
    background-color: #959595;
    font-size: 20px;
    color: #fff;

}

::placeholder {
    color: white;
    opacity: 1;
}

.dashboard {
    width: 100%;
    height: 100%;
    position: fixed;
}

.topbar {
    width: 100%;
    height: 4%;
    position: relative;
    z-index: 100;
}

.topbar p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.topbar img {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 0;
    display: inline;
    color: rgb(255, 255, 255);
}

.topbarleft {
    display: inline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.topbarcentre {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
}

.topbarcentre p {
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
}

.topbarright {
    margin: 0;
    position: relative;
    top: 50%;
    left: 100%;
}

.topbarright p {
    margin: 0;
    position: absolute;
    transform: translate(-105%, -50%);
}

.menu {
    position: absolute;
    width: 50%;
    height: 37.5px;
    top: 100%;
    margin-top: 10px;
    transform: translate(50%, 50%);
    background-color: #3F3F3F;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    visibility: hidden;
}

.menu p {
    height: 80%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    position: relative;
    top: 0%;
    transform: translateY(12%);
    font-size: 1vw;
}

.menu p:hover {
    color: #959595;
}

.home {
    height: 80%;
    width: 100%;
    position: relative;
    display: flex;
    padding-top: 5%;
    visibility: hidden;
}

.sidebar {
    height: 100%;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1vw;
    position: relative;
    display: inline-block;
    background-color: #3F3F3F;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar img {
    margin-top: 10px;
    width: 45px;
    height: 45px;
    position: relative;
}

.sidebar img:hover {
    margin-top: 10px;
    width: 45px;
    height: 45px;
    position: relative;
    filter: invert(50%);
}

/* CSS for the drone names when hovered */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: #3F3F3F;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 2;
    top: 12.5px;
    left: 125%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.contentbox {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    visibility: hidden;
}

.contenttop {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cam {
    position: relative;
    margin-right: 10px;
    width: 45%;
    height: 90%;
    background-color: #3F3F3F;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.scam {
    position: relative;
    margin-right: 10px;
    width: 25%;
    height: 90%;
    background-color: #3F3F3F;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.halfcam {
    position: relative;
    width: 20%;
    margin-right: 10px;
    height: 90%;
    background-color: #3F3F3F;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gas {
    position: relative;
    width: 45%;
    margin-right: 10px;
    height: 90%;
    background-color: #3F3F3F;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center
}

.contentbottem {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.poulltion {
    position: relative;
    margin-right: 10px;
    height: 90%;
    background-color: #3F3F3F;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center
}

.cam canvas {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.gauge {
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: #ffffff;
}

.gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #959595;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
}

.gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #6002EE;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 0.2s ease-out;
}

.gauge__cover {
    width: 75%;
    height: 150%;
    background: #3F3F3F;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
}

.box_name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin: 0;
    color: #FFF;
}

.line{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 7%;
    position: relative;
    width: 90%;
}

.line img{
    padding-right: 10%;
    width: 20%;
}

#gaschart{
    position: relative;
    width: 95%;
    height: 95%;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#airchart{
    position: relative;
    width: 95%;
    height: 95%;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}